.container {
  width: 90%;
  margin: 0px auto 0px auto;
}
.scoreboard {
  width: 420px;
  margin: 0px auto 0px auto;
  font-family: 'Pacifico', cursive;
}
.score {
  float: left;
  font-size: 130%;
  text-align: center;
  background: lime;
  border-radius: 20px;
  box-shadow: inset 1px 1px 5px blue,
    inset -1px 1px 5px blue,
    inset 1px -1px 5px blue,
    inset -1px -1px 5px blue;
  width: 200px;
  margin: 5px;
  padding: 5px 0 5px 0;
}
.cheer {
  color: rgb(0, 0, 170);
  text-decoration: underline;
  font-size: 130%;
  text-align: center;
  background: lightblue;
  border-radius: 25px;
  box-shadow: 1px 1px 3px magenta,
  1px -1px 3px magenta,
  -1px -1px 3px magenta,
  -1px 1px 3px magenta;
  margin: 7px auto 6px auto;
  width: 80%;
}
.gamebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .score {
    width: 45%;
    font-size: 80%;
  }
  .cheer {
    font-size: 100%;
  }
  .scoreboard {
    width: 100%;
  }
}