.instructions {
  font-family: 'Pacifico', cursive;
  color: black;
  text-align: justify;
  background: lightblue;
  border-radius: 15px;
  box-shadow: inset 0px -2px 5px purple,
    0px 1px 5px purple;
  margin: 0px auto 10px auto;
  padding: 15px;  
  width: 80%;
}