.instructions {
  font-family: 'Pacifico', cursive;
  color: rgb(0, 0, 170);
  text-align: justify;
  background: lightblue;
  border-radius: 5px;
  box-shadow: inset 0px -1px 3px magenta,
  inset -1px 0px 3px magenta,
  inset 0px 1px 3px magenta,
  inset -1px 0px 3px magenta,
    0px 1px 3px magenta,
    0px -1px 3px magenta,
    -1px 0px 3px magenta,
    1px 0px 3px magenta;
  margin: 5px auto 10px auto;
  padding: 15px;  
  width: 80%;
}