.card {
  background: white;
  border: 2px solid yellow;
  border-radius: 75px;
  box-shadow: 1px 1px 5px yellow,
    1px -1px 5px yellow,
    -1px -1px 5px yellow,
    -1px 1px 5px yellow,
    inset 1px 1px 5px blue,
    inset -1px 1px 5px blue,
    inset -1px -1px 5px blue,
    inset 1px -1px 5px blue;
  margin: 2% 1% 2% 4%;
  width: 150px;
  height: 150px;
  cursor: grab;
}
.card :active {
  cursor: grabbing;
}
.imageBox {
  margin: 3%;
  height: 94%;
  width: 94%;
}
.image {
  width: 99%;
  height: 99%;
  border-radius: 100px;
}

@media (max-width: 820px) {
  .card {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}


@media (max-width: 650px) {
  .card {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
}