.card {
  background: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2%;
  float: left;
  width: 200px;
  height: 200px;
}
.imageBox {
  margin: 3%;
  height: 94%;
  width: 94%;
}